In [1]:
import numpy as np
np.__version__
np.__path__
import sys
sys.version_info

sys.version_info(major=3, minor=9, micro=13, releaselevel='final', serial=0)

In [2]:
import requests, json, os
import pandas as pd
import numpy as np
import geopandas as gpd
import sodapy
from sodapy import Socrata
from collections import defaultdict
from collections import OrderedDict
from arcgis.gis import GIS

In [3]:
import arcgis 
from arcgis.features import FeatureLayer
from arcgis.features import FeatureLayerCollection
from arcgis.gis import GIS

In [4]:
# connect to SF ArcGIS Online using a valid credential
gis = GIS("https://sfgov.maps.arcgis.com/", "seolha.lee_cpc", "25Minhaa!?!")
print(f"Connected to {gis.properties.portalHostname} as {gis.users.me.username}")

Connected to www.arcgis.com as seolha.lee_cpc

In [5]:
sf_master_table = pd.read_csv('output/SF_master_table_by_geo_2020_2010.csv')
sf_master_table

,Neighborhood,Total Population,Group Quarter Population,Female Population,Population with Any Disabilities,Households,Family Households,Non-Family Households,Single Person Households,Households with Children,...,Library,Zoological Garden,Concession,Family Camp,school,nhood_url,Population in Labor Force,% Speaking English Very Well of Foreign Born,% Speaking English Very Well of Foreign Born_10,% Speaking English Very Well of Total
0,sf,874784.0,20169.0,428538.0,0.101049,362141.0,0.471267,0.528733,0.362618,0.184657,...,NaN,NaN,NaN,NaN,NaN,sf,713617,0.514545,0.762196,0.809587

In [8]:
sf_master_table.columns[600:]

Index(['A_Median Family Income_10', 'B_Median Household Income_10',
       'B_Median Family Income_10', 'C_Median Household Income_10',
       'C_Median Family Income_10', 'D_Median Household Income_10',
       'D_Median Family Income_10', 'H_Median Household Income_10',
       'H_Median Family Income_10', 'I_Median Household Income_10',
       'I_Median Family Income_10', 'aff_count', 'aff_unit_sum',
       'aff_tot_units_sum', 'aff_mean_aff_ratio', 'sro_count',
       'sro_residential_unit', 'sro_tourist_unit',
       'sro_mean_residential_ratio', 'rc_count', 'rc_residential_unit',
       'good_samaritan_ends', 'roommate_same_unit', 'illegal_use',
       'lead_remediation', 'failure_to_sign_renewal', 'condo_conversion',
       'nuisance', 'access_denial', 'owner_move_in', 'demolition',
       'substantial_rehab', 'late_payments', 'unapproved_subtenant',
       'capital_improvement', 'breach', 'development', 'ellis_act_withdrawal',
       'other_cause', 'non_payment', 'well-resourced', 'priority-equity',
       'CBD', 'sfmta-equity', 'iin', 'commercial-corridor', 'ej_mean',
       'ej_max', 'high_pci_ratio', 'vz_length', 'st_length', 'vz_ratio',
       'Civic Plaza or Square', 'Regional Park', 'Mini Park',
       'Neighborhood Park or Playground', 'Community Garden', 'Parkway',
       'Other Non-Park Property', 'Library', 'Zoological Garden', 'Concession',
       'Family Camp', 'school', 'nhood_url', 'Population in Labor Force',
       '% Speaking English Very Well of Foreign Born',
       '% Speaking English Very Well of Foreign Born_10',
       '% Speaking English Very Well of Total'],
      dtype='object')

In [13]:
sf_master_table[['aff_count', 'aff_unit_sum',
       'aff_tot_units_sum', 'aff_mean_aff_ratio', 'sro_count',
       'sro_residential_unit', 'sro_tourist_unit',
       'sro_mean_residential_ratio', 'rc_count', 'rc_residential_unit',
       'good_samaritan_ends', 'roommate_same_unit', 'illegal_use',
       'lead_remediation', 'failure_to_sign_renewal', 'condo_conversion',
       'nuisance', 'access_denial', 'owner_move_in', 'demolition',
       'substantial_rehab', 'late_payments', 'unapproved_subtenant',
       'capital_improvement', 'breach', 'development', 'ellis_act_withdrawal',
       'other_cause', 'non_payment']] = sf_master_table[['aff_count', 'aff_unit_sum',
       'aff_tot_units_sum', 'aff_mean_aff_ratio', 'sro_count',
       'sro_residential_unit', 'sro_tourist_unit',
       'sro_mean_residential_ratio', 'rc_count', 'rc_residential_unit',
       'good_samaritan_ends', 'roommate_same_unit', 'illegal_use',
       'lead_remediation', 'failure_to_sign_renewal', 'condo_conversion',
       'nuisance', 'access_denial', 'owner_move_in', 'demolition',
       'substantial_rehab', 'late_payments', 'unapproved_subtenant',
       'capital_improvement', 'breach', 'development', 'ellis_act_withdrawal',
       'other_cause', 'non_payment']].apply(pd.to_numeric)

In [15]:
sf_master_table.to_csv('output/SF_master_table_by_geo_2020_2010.csv', index=False)

In [17]:
# set path to download csvs
download_path = r"./output"

In [19]:
# load the SF master table 
sf_master_table_path = os.path.join(download_path,'SF_master_table_by_geo_{}_{}.csv'.format(2020, 2010))

In [21]:
search_result = gis.content.search('title:SF_master_table_by_geo_2020_2010', item_type='Feature Layer')
test_item = search_result[0]
test_feature_table = FeatureLayerCollection.fromitem(test_item)
test_feature_table.manager.overwrite(sf_master_table_path)

{'success': True}

In [3]:
tract10 = pd.read_csv('output/Tract_profiles_by_geo_2010.csv')
tract20 = pd.read_csv('output/Tract_profiles_by_geo_2020.csv')

In [5]:
tract20.columns

Index(['Tract', 'Total Population', 'Group Quarter Population',
       'Female Population', '% Population with a Disability', 'Housholds',
       'Family Households', 'Non-Family Households',
       'Single Person Households', 'Households with Children',
       ...
       'I_Household Income (50K-75K)', 'I_Household Income (75K-100K)',
       'I_Household Income (100K-125K)', 'I_Household Income (more than 125K)',
       'A_Household Income (less than 25K)', 'A_Household Income (25K-50K)',
       'A_Household Income (50K-75K)', 'A_Household Income (75K-100K)',
       'A_Household Income (100K-125K)',
       'A_Household Income (more than 125K)'],
      dtype='object', length=351)

In [7]:
t20list = tract20['Tract'].tolist()
t10list = tract10['Tract'].tolist()

In [8]:
talllist = list(set(t20list).intersection(t10list))
len(talllist)

158

In [9]:
158+49+49

256

In [10]:
244-158

86

In [13]:
talldf = pd.DataFrame(talllist, columns = ['Tract'])

In [14]:
talldf.to_csv('output/Tract_2020_only.csv', index=False)